export LOG_LEVEL=debug
export LOG_FORMAT=text
export POSTGRES_DATABASE=geoplaces
export POSTGRES_HOST=localhost
export POSTGRES_PARAMS='connect_timeout=3 sslmode=disable'
export POSTGRES_PASSWORD=123
export POSTGRES_PORT=5432
export POSTGRES_USERNAME=pguser
export PORT=8080
